<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/admin/admin_common.css}">
</th:block>
<div layout:fragment="content" id="main">
    <div class="page_aticle aticle_type2">
        <div id="snb" class="snb_my">
            <h2 class="tit_snb">고객센터</h2>
            <div class="inner_snb">
                <ul class="list_menu">
                    <li>
                        <a href="#">공지사항</a>
                    </li>
                    <li>
                        <a href="#">자주하는 질문</a>
                    </li>
                    <li>
                        <a href="/board/board-list">1:1 문의</a>
                    </li>
                    <li>
                        <a href="#">대량주문 문의</a>
                    </li>

                </ul>
            </div>
        </div>

        <div id="viewOrderList" class="page_section section_destination">
            <div class="head_aticle">
                <h2 class="tit">
                    1:1문의
                </h2>
            </div>


            <div id="tblParent" class="type_select">
                <table class="tbl tbl_type1">
                    <thead>
                    <tr>
                        <th class="tit_select">번호</th>
                        <th class="tit_address">제목</th>
                        <th class="tit_receive">작성자</th>
                        <th class="tit_phone">등록일</th>
                        <th class="tit_delivery">조회수</th>
<!--                        <th class="tit_modify">상태</th>-->
                    </tr>
                    </thead>
                    <tbody id="addrList">
                    <tr th:each="board: ${boardList}">
                        <td class="select type_radio" th:text="${board.id}">
<!--                            <label class="skin_checkbox">-->
<!--                                <p>3</p>-->
<!--                            </label>-->
                        </td>
                        <td class="address">

                            <p class="addr">
                                <a th:href="@{|/board/${board.id}|}" th:text="${board.boardTitle}"></a>
                            </p>
                        </td>
                        <td class="name" th:text="${board.boardWriter}" >
                            <span></span>
                        </td>
                        <td class="phone" th:text="*{#temporals.format(board.createdTime, 'yyyy-MM-dd HH:mm:ss')}">
                            <span></span>
                        </td>
                        <td th:text="${board.boardHits}">
                            <span></span>
                        </td>
                    </tr>
                    </tbody>

                </table>
                <div class="pagination">
                    <ul>
                        <li th:if="${currentPage > 1}">
                            <a th:href="@{|/board/board-list?page=${currentPage - 1}|}">&laquo; 이전</a>
                        </li>
                        <li th:each="pageNum : ${#numbers.sequence(1, totalPages)}"
                            th:class="${pageNum == currentPage} ? 'active' : ''">
                            <a th:href="@{|/board/board-list?page=${pageNum}|}" th:text="${pageNum}"></a>
                        </li>
                        <li th:if="${currentPage < totalPages}">
                            <a th:href="@{|/board/board-list?page=${currentPage + 1}|}">다음 &raquo;</a>
                        </li>
                    </ul>
                </div>
                <a href="/board/insert-board"><button class="delete_button" onclick="saveReq()">등록</button></a>
            </div>

        </div>

    </div>

</div>


</body>
<script>
    const saveReq= () =>{
        location.href = "/board/save";
    }
</script>
</html>