<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/admin/admin_common.css}">
    </th:block>
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            const listReq = () => {
                console.log("상세조회 목록");
                location.href = "/board/board-list";
            }
            const updateReq = () => {
                console.log("수정 요청");
                const id = [[${board.id}]];
                location.href = "/board/update/" + id;
            }
            const deleteReq = () => {
                console.log("삭제 요청");
                const id = [[${board.id}]];
                location.href = "/board/delete/" + id;
            }
        </script>
    </th:block>
</head>
<body>
<div layout:fragment="content" id="main">
    <div class="page_aticle aticle_type2">

        <div id="viewOrderList" class="page_section section_destination">
            <div class="head_aticle">
                <h2 class="tit">
                    1:1문의
                </h2>
            </div>

            <div id="tblParent" class="type_select">
                <table class="tbl tbl_type1">
                    <thead>
                    </thead>
                    <tbody>
                    <tr>
                        <th >유형</th>
                        <td th:text="${board.boardCategory}">

                        </td>
                    </tr>
                    <tr>
                        <th >작성자</th>
                        <td th:text="${board.boardWriter}">
                        </td>
                    </tr>
                    <tr>
                        <th>제목</th>
                        <td>
                            <a th:href="@{|/board/${board.id}|}" th:text="${board.boardTitle}"></a>
                        </td>
                    </tr>
                    <tr>
                        <th>내용</th>
                        <td th:text="${board.boardContents}">
                        </td>
                    </tr>
                    <tr th:if="${board.fileAttached == 1} ">
                        <th>이미지</th>
                        <td >
                            <div id="image_container_3" >
                                <img class="inquiry-img" th:each="fileName:${board.boardFileList} " th:src="@{'https://kr.object.ncloudstorage.com/bit-nc4th-miniproject/board/' + ${fileName.storedFileName}|}" alt="">
                            </div>
                        </td>


                    </tr>
                    </tbody>
                </table>
            </div>
            <button class="getBoardButton" onclick="listReq()">목록</button>
            <button class="getBoardButton" onclick="updateReq()">수정</button>
            <button class="getBoardButton" onclick="deleteReq()">삭제</button>
        </div>
    </div>

</div>

</body>


</html>