<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/admin/admin_common.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin_page_prd_upload.css}">
</th:block>
<div layout:fragment="content" id="main">
    <div class="page_aticle aticle_type2">
        <div id="snb" class="snb_my">
            <h2 class="tit_snb">고객센터</h2>
            <div class="inner_snb">
                <ul class="list_menu">
                    <li>
                        <a href="#">공지사항</a>
                    </li>
                    <li>
                        <a href="#">자주하는 질문</a>
                    </li>
                    <li>
                        <a href="/board/board-list">1:1 문의</a>
                    </li>
                    <li>
                        <a href="#">대량주문 문의</a>
                    </li>

                </ul>
            </div>
        </div>

        <div id="viewOrderList" class="page_section section_orderlist">
            <div class="head_aticle">
                <h2 class="tit">
                    1:1문의
                </h2>
            </div>

            <div class="list_order">
                <form action="/board/update" method="post">
                    <input type="hidden" name="fileAttached" th:value="${boardUpdate.fileAttached}">
                    <div class="size">
                        <div class="p_board">
                            <table width="100%">
                                <tbody>
                                <tr>
                                    <input type="hidden" name="boardHits" th:value="${boardUpdate.boardHits}">
                                </tr>
                                <tr>
                                    <input type="hidden" name="id" th:value="${boardUpdate.id}">
                                </tr>
                                <tr>
                                    <th >유형</th>
                                    <td colspan="2">
                                        <div>
                                                <span>
                                                    <input type="text" name="boardCategory"  th:value="${boardUpdate.boardCategory}" class="i_text text1" onkeyup="chkword_name(this, 80)">
                                                </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th >작성자</th>
                                    <td colspan="2">
                                        <div>
                                                <span>
                                                    <input type="text" name="boardWriter" th:value="${boardUpdate.boardWriter}" class="i_text text1" onkeyup="chkword_name(this, 80)" readonly>
                                                </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>제목</th>
                                    <td colspan="2">
                                        <div>
                                                <span>
                                                    <input type="text" class="i_text text2" name="boardTitle" th:value="${boardUpdate.boardTitle}" onkeyup="chkword_introduce(this, 150)">
                                                </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>내용</th>
                                    <td>
                                        <div>
                                                <span>
                                                    <textarea class="i_text text8" name="boardContents" th:text="${boardUpdate.boardContents}" id="" cols="30" rows="10" onkeyup="chkword_information(this, 550)"></textarea>
                                                </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr th:if="${boardUpdate.fileAttached == 1} ">
                                    <th>이미지</th>
                                    <td>
                                        <div id="image_container_3" >
                                            <img class="inquiry-img" th:each="fileName:${boardUpdate.boardFileList} " th:src="@{'https://kr.object.ncloudstorage.com/bit-nc4th-miniproject/board/' + ${fileName.storedFileName}|}" alt="">
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div id="product_submit" class="pd_submit">
                            <button type="submit"  onclick="listReq()">등록하기</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>


</body>
<script>
    const listReq = () => {
        location.href = "/getBoardList.html";
    }
</script>
</html>