<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout2}">
<head>
    <th:block layout:fragment="css">
        <style>
            .form-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            #joinForm {
                width: 250px;
                text-align: center;
            }

            #joinForm .label-wrapper {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            #joinForm input {
                width: 100%;
            }

            #joinForm div {
                display: flex;
                align-items: center;
            }

            #btnIdCheck {
                width: 50px;
            }
        </style>
    </th:block>

    <th:block layout:fragment="script">
        <script>
            $(() => {
                //아이디 중복체크 여부
                let checkId = false;
                //비밀번호 유효성 검사 여부
                let validationPw = false;
                //비밀번호 일치 여부
                let cofirmPw = false;

                //아이디 중복체크
                $("#btnIdCheck").on("click", () => {
                    if($("#userId").val() === "") {
                        alert("아이디를 입력하세요.")
                        $("#userId").focus();
                        return;
                    }

                    console.log($("#joinForm").serialize());

                    //ajax로 백엔드와 통신
                    $.ajax({
                        url: '/user/id-check',
                        type: 'post',
                        data: $("#joinForm").serialize(),
                        success: (obj) => {
                            console.log(obj);

                            console.log(obj.item);
                            console.log(obj.item.idCheckMsg);

                            if(obj.item.idCheckMsg === "idFail") {
                                checkId = false;
                                alert("중복된 아이디 입니다.");
                                $("#userId").focus();
                                return;
                            }

                            if(confirm(`사용가능한 아이디입니다. ${$("#userId").val()}를(을) 사용하시겠습니까?`)) {
                                checkId = true;
                                $("#btnIdCheck").attr("disabled", true);
                            }
                        },
                        error: (error) => {
                            console.log(error);
                        }
                    });

                });

                // 중복체크 완료된 상태에서 아이디 값 변경했을 때 중복체크 버튼 다시 활성화
                $("#userId").on("change", () => {
                    checkId = false;
                    $("#btnIdCheck").attr("disabled", false);
                });

                // 비밀번호 유효성 검사 정규식
                const validatePassword = (userPw) => {
                    return /^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[!@#$%^&*+=-]).{9,}$/.test(userPw);
                }

                // 비밀번호 입력 시 비밀번호 유효성 검사
                $("#userPw").on("change", () => {
                    if(validatePassword($("#userPw").val())) {
                        validationPw = true;
                        $("#pwValidation").hide();
                    }else {
                        validationPw = false;
                        $("#pwValidation").show();
                    }

                    if($("#userPw").val() === $("#userPwCheck").val()) {
                        confirmPw = true;
                        $("#pwCheckResult").text("비밀번호가 일치합니다.");
                        $("#pwCheckResult").css("color", "green");
                    } else {
                        confirmPw = false;
                        $("#pwCheckResult").text("비밀번호가 일치하지 않습니다.");
                        $("#pwCheckResult").css("color", "red");
                    }
                });


                // 비밀번호 확인과 비밀번호가 일치하는 지 검사
                $("#userPwCheck").on("change", () => {
                    $("#pwCheckResult").show();

                    if($("#userPw").val() === $("#userPwCheck").val()) {
                        confirmPw = true;
                        $("#pwCheckResult").text("비밀번호가 일치합니다.");
                        $("#pwCheckResult").css("color", "green");
                        return;
                    }

                    confirmPw = false;
                    $("#pwCheckResult").text("비밀번호가 일치하지 않습니다.");
                    $("#pwCheckResult").css("color", "red");
                });

                // joinForm이 서브밋될 때 유효성 검사가 하나라도 false면 서브밋 막기
                $("#joinForm").on("submit", (e) => {
                    // id 중복체크가 되지 않았을 때
                    if(!checkId) {
                        e.preventDefault();
                        alert("아이디 중복체크를 진행하세요.");
                        $("#userId").focus();
                        return;
                    }

                    // pw 유효성 검사가 틀렸을 때
                    if(!validationPw) {
                        e.preventDefault();
                        alert("비밀번호는 영문자, 숫자, 특수문자 조합의 9자리 이상으로 설정하세요.");
                        $("#userPw").focus();
                        return;
                    }

                    // pw가 일치하지 않을 때
                    if(!confirmPw) {
                        e.preventDefault();
                        alert("비밀번호가 일치하지 않습니다.");
                        $("#userPwCheck").focus();
                        return;
                    }
                });
            });
        </script>
    </th:block>
</head>
<body>
    <div layout:fragment="content">
        <div class="form-wrapper">
            <form id="joinForm" action="/user/join" method="post">
                <h3>회원가입</h3>
                <div class="label-wrapper">
                    <label for="userId">아이디</label>
                </div>
                <div>
                    <input type="text" id="userId" name="userId" required style="width: auto;">
                    <button type="button" id="btnIdCheck" style="width: 70px">중복체크</button>
                </div>
                <div class="label-wrapper">
                    <label for="userPw">비밀번호</label>
                </div>
                <input type="password" id="userPw" name="userPw" required>
                <p id="pwValidation" style="color: red; font-size: 0.8rem;">
                    비밀번호는 영문자, 숫자, 특수문자 조합의 9자리 이상으로 설정해주세요.
                </p>
                <div class="label-wrapper">
                    <label for="userPwCheck">비밀번호 확인</label>
                </div>
                <input type="password" id="userPwCheck" name="userPwCheck" required>
                <p id="pwCheckResult" style="font-size: 0.8rem;"></p>
                <div class="label-wrapper">
                    <label for="userName">이름</label>
                </div>
                <input type="text" id="userName" name="userName" required>
                <div class="label-wrapper">
                    <label for="userEmail">이메일</label>
                </div>
                <input type="email" id="userEmail" name="userEmail" required>
                <div class="label-wrapper">
                    <label for="userTel">전화번호</label>
                </div>
                <input type="text" id="userTel" name="userTel" placeholder="숫자만 입력하세요.">
                <div style="display: block; margin: 20px auto;">
                    <button type="submit">회원가입</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>