<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout2}">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/join.css}">
        <link rel="stylesheet" th:href="@{/css/common.css}">
    </th:block>
    <th:block layout:fragment="script">
        <script>
            $(() => {
                // 아이디 중복 체크 여부
                let checkId = false;
                // 비밀번호 유효성 검사 여부
                let validationPw = false;
                // 비밀번호 일치 여부
                let confirmPw = false;
                // 이메일 중복 체크 여부
                let checkEmail = false;

                // 아이디 중복 체크
                $("#btnIdCheck").on("click", () => {
                    if ($("#userId").val() === "") {
                        alert("아이디를 입력하세요. ")
                        $("#userId").focus();
                        return;
                    }

                    //ajax - 백엔드
                    $.ajax({
                        url: '/user/id-check',
                        type: 'post',
                        data: $("#joinForm").serialize(),
                        success: (obj) => {

                            if (obj.item.idCheckMsg === "idFail") {
                                checkId = false;
                                alert("중복된 아이디 입니다.");
                                $("#userId").focus();
                                return;
                            }

                            if (confirm(`사용가능한 아이디입니다. ${$("#userId").val()}를 사용하시겠습니까?`)) {
                                checkId = true;
                                $("#btnIdCheck").attr("disabled", true);
                            }
                        },
                        error: (error) => {
                            console.log(error);
                        }
                    });
                });
                // 중복체크 버튼 활성화
                $("#userId").on("change", () => {
                    checkId = false;
                    $("#btnIdCheck").attr("disabled", false);
                });

                // 이메일 중복 체크
                $("#btnEmailCheck").on("click", () => {
                    if ($("#userEmail").val() === "") {
                        alert("이메일을 입력하세요. ")
                        $("#userEmail").focus();
                        return;
                    }
                    //ajax - 백엔드
                    $.ajax({
                        url: '/user/email-check',
                        type: 'post',
                        data: $("#joinForm").serialize(),
                        success: (obj) => {

                            if (obj.item.emailCheckMsg === "emailFail") {
                                checkEmail = false;
                                alert("중복된 이메일 입니다.");
                                $("#userEmail").focus();
                                return;
                            }

                            if (confirm(`사용가능한 이메일입니다. ${$("#userEmail").val()}을 사용하시겠습니까?`)) {
                                checkEmail = true;
                                $("#btnEmailCheck").attr("disabled", true);
                            }
                            console.log($("#joinForm").serialize());
                        },
                        error: (error) => {
                            console.log(error);
                        }
                    });
                });
                // 중복체크 버튼 활성화
                $("#userEmail").on("change", () => {
                    checkEmail = false;
                    $("#btnEmailCheck").attr("disabled", false);
                });

                var typingTimer;  // 타이핑 타이머
                var doneTypingInterval = 800;  // 입력이 끝난 것으로 판단할 시간 (1초)

                // 사용자가 날짜를 입력할 때 호출되는 함수
                $("#userBirthYear, #userBirthMonth, #userBirthDay").on("input", function() {
                    clearTimeout(typingTimer);  // 이전 타이머가 있다면 초기화

                    typingTimer = setTimeout(function() {
                        updateUserBirth();
                    }, doneTypingInterval);
                });

                function nowData() {
                    return new Date();
                }
                function updateUserBirth() {
                    // 각 입력 필드에서 값 가져오기
                    var year = $("#userBirthYear").val();
                    var month = $("#userBirthMonth").val();
                    var day = $("#userBirthDay").val();
                    var currentYear = nowData().getFullYear();

                    // 입력된 연도가 0으로 시작하거나 잘못된 값이 입력되면 경고 표시 및 값 초기화

                    if (year.startsWith('0') || isNaN(year) || parseInt(year) > currentYear || parseInt(year) < 1900) {
                        alert("올바른 연도를 입력하세요.");
                        $("#userBirthYear, #userBirthMonth, #userBirthDay").val('');
                        $("#userBirth").val('');
                        return false; // 폼 제출 제어
                    }

                    // 월이 12월을 넘어가거나 일이 31일을 초과하면 경고 표시 및 값 초기화
                    if (parseInt(month) > 12 || parseInt(day) > 31) {
                        alert("올바른 날짜를 입력하세요.");
                        $("#userBirthYear, #userBirthMonth, #userBirthDay").val('');
                        $("#userBirth").val('');
                        $("#userBirthYear").focus();
                        return false; // 폼 제출을 막습니다.
                    }

                    // 날짜 형식을 yyyy/MM/dd로 가공
                    var userBirth = year + '-' + month + '-' + day;

                    // 가공된 날짜를 숨겨진 필드에 할당
                    $("#userBirth").val(userBirth);
                    console.log($("#joinForm").serialize())
                }
                // 비밀번호 유효성 검사 정규식
                const validatePassword = (userPw) => {
                    return /^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[!@#$%^&*+=-]).{9,}$/.test(userPw);
                }
                // 비밀번호 입력 시 비밀번호 유효성 검사
            });
        </script>
    </th:block>
</head>
<body>
        <div layout:fragment="content" id="content">
            <div class="form-wrapper">
                <div class="type_form member_join">
                <form id="joinForm" action="/user/join" method="post">
                    <div class="field_head">
                        <h3 class="tit">회원가입</h3>
                        <p class="sub">
                            <span class="ico">*</span>
                            필수입력사항
                        </p>
                    </div>

                    <table class="tbl_comm">
                        <tbody>
                        <tr class="fst field_id">
                            <th>
                                <label for="userId">아이디</label>
                                <span class="ico">
                                                    *
                                                    <span class="screen_out">필수항목</span>
                                                </span>
                            </th>
                            <td>
                                <input type="text" id="userId" name="userId" maxlength="16" required="" placeholder="6자 이상의 영문 혹은 영문과 숫자를 조합">
                                <button type="button" id="btnIdCheck" class="btn default">중복확인</button>
                                <p class="txt_guide square">
<!--                                                    <span class="txt txt_case1">-->
<!--                                                        6자 이상의 영문 혹은 영문과 숫자를 조합-->
<!--                                                    </span>-->
                                    <span class="txt txt_case2">
                                                        아이디 중복확인
                                                    </span>
                                </p>
                            </td>
                        </tr>

                        <tr class="field_pw">
                            <th>
                                <label for="userPw">비밀번호</label>
                                <span class="ico">*
                                                    <span class="screen_out">필수항목</span>
                                                </span>
                            </th>
                            <td>
                                <input type="password" id="userPw" name="userPw" required=""  option="regPass" onkeyup="pw_check()" maxlength="16" class="reg_pw bad" placeholder="비밀번호를 입력해주세요">
                                <p class="txt_guide square">
                                                    <span class="txt txt_case1">
                                                        10자 이상 입력
                                                    </span>
                                    <span class="txt txt_case2">
                                                        영문/숫자/특수문자(공백 제외)만 허용하며, 2개 이상 조합
                                                    </span>
                                </p>
                            </td>
                        </tr>

                        <tr class="member_pwd field_repw">
                            <th>
                                <label for="userPwCheck">비밀번호확인</label>
                                <span class="ico">
                                                    *
                                                    <span class="screen_out">필수항목</span>
                                                </span>
                            </th>
                            <td>
                                <input type="password" required="" id="userPwCheck" name="userPwCheck" maxlength="16" class="confirm_pw" placeholder="비밀번호를 한번 더 입력해주세요">
                                <p class="txt_guide square">
                                                    <span class="txt txt_case1">
                                                        동일한 비밀번호를 입력해주세요.
                                                    </span>
                                </p>
                            </td>
                        </tr>

                        <tr class="field_name">
                            <th>
                                <label for="userName">이름</label>
                                <span class="ico">
                                                    *
                                                    <span class="screen_out">필수항목</span>
                                                </span>
                            </th>
                            <td>
                                <input type="text" id="userName" name="userName"  required="" placeholder="이름을 입력해주세요">
                            </td>
                        </tr>

                        <tr class="field_email">
                            <th>
                                <label for="userEmail">이메일</label>
                                <span class="ico">
                                                    *
                                                    <span class="screen_out">필수항목</span>
                                                </span>
                            </th>

                            <td>
                                <input type="text" id="userEmail" name="userEmail" size="30" required="" placeholder="예: marketkurly@kurly.com">
                                <button type="button" id="btnEmailCheck" class="btn default">중복확인</button>
                            </td>
                        </tr>


                        <tr class="field_phone">
                            <th>
                                <label for="userTel">휴대폰</label>
                                <span class="ico">
                                                    *
                                                    <span class="screen_out">필수항목</span>
                                                </span>
                            </th>

                            <td>
                                <div class="phone_num">
                                    <input type="text" value="" pattern="[0-9]*" id="userTel" name="userTel" placeholder="숫자만 입력해주세요" class="inp">

                                </div>
                            </td>
                        </tr>

                        <tr>
                            <th>
                                <label for="addrBasic">주소</label>
                                <span class="ico">
                                                    *
                                                    <span class="screen_out">필수항목</span>
                                                </span>
                            </th>
                            <td class="field_address">
                                <a href="#" id="addressSearch" class="search">
                                    <span id="addressNo" class="address_no">주소검색</span>
                                </a>
                                <input type="text" id="addrBasic" name="addrBasic" placeholder="주소">
                                <input type="text" id="addrDetail" name="addrDetail"  placeholder="상세주소">
                                <input type="text" id="addrZone" name="addrZone"  placeholder="우편번호">
                                <p class="txt_guide" style="display:block;">
                                    <span class="txt txt_case1">배송지에 따라 상품 정보가 달라질 수 있습니다.</span>

                                </p>
                            </td>
                        </tr>

                        <tr class="birth field_birth">
                            <th>생년월일</th>
                            <td>
                                <div class="birth_day">
                                    <input type="text" name="userBirthYear" id="userBirthYear" pattern="[0-9]*"  label="생년월일" size="4" maxlength="4" placeholder="YYYY">
                                    <span class="bar"></span>
                                    <input type="text" name="userBirthMonth" id="userBirthMonth" pattern="[0-9]*"  label="생년월일" size="2" maxlength="2" placeholder="MM">
                                    <span class="bar"></span>
                                    <input type="text" name="userBirthDay" id="userBirthDay" pattern="[0-9]*"  label="생년월일" size="2" maxlength="2" placeholder="DD">
                                </div>
                                <input type="hidden" name="userBirth" id="userBirth">
                            </td>
                        </tr>
                        </tbody>
                    </table>


                    <div id="formSubmit" class="form_footer" style="border-top: 1px solid #333;">
                        <button type="submit" class="btn active btn_join" id="btnJoin" >가입하기</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
</body>
</html>