<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout3}">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/join.css}">
        <link rel="stylesheet" th:href="@{/css/common.css}">
    </th:block>
</head>
<body>
        <div layout:fragment="content" id="content">
            <div class="form-wrapper">
                <div class="type_form member_join">
                <form id="joinForm" action="/user/join" method="post">
                    <div class="field_head">
                        <h3 class="tit">회원가입</h3>
                        <p class="sub">
                            <span class="ico">*</span>
                            필수입력사항
                        </p>
                    </div>

                    <table class="tbl_comm">
                        <tbody>
                        <tr class="fst field_id">
                            <th>아이디
                                <span class="ico">
                                                    *
                                                    <span class="screen_out">필수항목</span>
                                                </span>
                            </th>
                            <td>
                                <input type="text" name="id" maxlength="16" required="" option="regId" onkeyup="id_check()" placeholder="6자 이상의 영문 혹은 영문과 숫자를 조합">
                                <a class="btn default" href="#">중복확인</a>
                                <p class="txt_guide square">
                                                    <span class="txt txt_case1">
                                                        6자 이상의 영문 혹은 영문과 숫자를 조합
                                                    </span>
                                    <span class="txt txt_case2">
                                                        아이디 중복확인
                                                    </span>
                                </p>
                            </td>
                        </tr>

                        <tr class="field_pw">
                            <th>
                                비밀번호
                                <span class="ico">*
                                                    <span class="screen_out">필수항목</span>
                                                </span>
                            </th>
                            <td>
                                <input type="password" name="pw" required=""  option="regPass" onkeyup="pw_check()" maxlength="16" class="reg_pw bad" placeholder="비밀번호를 입력해주세요">
                                <p class="txt_guide square">
                                                    <span class="txt txt_case1">
                                                        10자 이상 입력
                                                    </span>
                                    <span class="txt txt_case2">
                                                        영문/숫자/특수문자(공백 제외)만 허용하며, 2개 이상 조합
                                                    </span>
                                </p>
                            </td>
                        </tr>

                        <tr class="member_pwd field_repw">
                            <th>
                                비밀번호확인
                                <span class="ico">
                                                    *
                                                    <span class="screen_out">필수항목</span>
                                                </span>
                            </th>
                            <td>
                                <input type="password" required=""  option="regPass" onkeyup="pw2_check()" maxlength="16" class="confirm_pw" placeholder="비밀번호를 한번 더 입력해주세요">
                                <p class="txt_guide square">
                                                    <span class="txt txt_case1">
                                                        동일한 비밀번호를 입력해주세요.
                                                    </span>
                                </p>
                            </td>
                        </tr>

                        <tr class="field_name">
                            <th>
                                이름
                                <span class="ico">
                                                    *
                                                    <span class="screen_out">필수항목</span>
                                                </span>
                            </th>
                            <td>
                                <input type="text" name="name"  required=""  label="이름" placeholder="이름을 입력해주세요">
                            </td>
                        </tr>

                        <tr class="field_email">
                            <th>
                                이메일
                                <span class="ico">
                                                    *
                                                    <span class="screen_out">필수항목</span>
                                                </span>
                            </th>

                            <td>
                                <input type="text" name="email"   size="30" required=""  option="regEmail" label="이메일" placeholder="예: marketkurly@kurly.com">
                                <a href="#" class="btn default">중복확인</a>
                            </td>
                        </tr>


                        <tr class="field_phone">
                            <th>
                                휴대폰
                                <span class="ico">
                                                    *
                                                    <span class="screen_out">필수항목</span>
                                                </span>
                            </th>

                            <td>
                                <div class="phone_num">
                                    <input type="text" value="" pattern="[0-9]*" name="mobileInp" placeholder="숫자만 입력해주세요" class="inp">

                                </div>
                            </td>
                        </tr>

                        <tr>
                            <th>
                                주소
                                <span class="ico">
                                                    *
                                                    <span class="screen_out">필수항목</span>
                                                </span>
                            </th>
                            <td class="field_address">
                                <a href="#" id="addressSearch" class="search">
                                    <span id="addressNo" class="address_no">주소검색</span>
                                </a>
                                <input type="text" id="user_address" name="user_address" placeholder="주소">
                                <input type="text" id="user_detail_address" name="user_detail_address"  placeholder="상세주소">
                                <p class="txt_guide" style="display:block;">
                                    <span class="txt txt_case1">배송지에 따라 상품 정보가 달라질 수 있습니다.</span>

                                </p>
                            </td>
                        </tr>

                        <tr class="birth field_birth">
                            <th>생년월일</th>

                            <td>
                                <div class="birth_day">
                                    <input type="text" name="year" id="birth_year" pattern="[0-9]*"  label="생년월일" size="4" maxlength="4" placeholder="YYYY">
                                    <span class="bar">

                                                    </span>
                                    <input type="text" name="month" id="birth_month" pattern="[0-9]*"  label="생년월일" size="2" maxlength="2" placeholder="MM">
                                    <span class="bar"></span>
                                    <input type="text" name="day" id="birth_day" pattern="[0-9]*"  label="생년월일" size="2" maxlength="2" placeholder="DD">

                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>


                    <div id="formSubmit" class="form_footer" style="border-top: 1px solid #333;">
                        <button type="submit" class="btn active btn_join" >가입하기</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
</body>
</html>