<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_sidebar}">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/user/modify.css}">
        <link rel="stylesheet" th:href="@{/css/common.css}">
        <link rel="stylesheet" th:href="@{/css/fonts.css}">
        <link rel="stylesheet" th:href="@{/css/reset.css}">
    </th:block>
</head>
<body>
    <div class="content" layout:fragment="content">
        <div class="form-wrapper">
        <table>
            <br><br>
            <form id="modifyForm" action="/profile/change" method="post">
                <div class="modify_title">
                    회원정보 수정
                </div>
                <p class="sub">
                    <span class="ico">*</span>
                    필수입력사항
                </p>

                <table class="tbl_comm"><tbody>
                <tr>
                    <th>
                    <label class="label-wrapper " for="userPw">현재 비밀번호</label>
                    <span class="ico">*</span>
                    </th>
                    <td>
                    <input type="password" id="userPw" name="curUserPw" required>
                    <button type="button" class="btn_default">확인</button>
                    </td>
                </tr>

                <tr>
                    <th>
                    <label class="label-wrapper" for="newUserPw">비밀번호</label>
                    </th>
                    <td>
                    <input type="password" id="newUserPw" name="userPw">
                    <p id="pwValidation" style="color: red; font-size: 0.8rem;"> 비밀번호는 영문자, 숫자, 특수문자 조합의 9자리 이상으로 설정해주세요. </p>
                    </td>
                </tr>
                <tr>
                    <th>
                    <label class="label-wrapper" for="userPwCheck">비밀번호 확인</label>
                    </th>
                    <td>
                    <input type="password" id="userPwCheck" name="userPwCheck">
                    <p id="pwCheckResult" style="font-size: 0.8rem;"></p>
                    </td>
                </tr>
                <tr>
                    <th>
                    <label class="label-wrapper" for="userName">이름</label>
                    </th>
                    <td>
                    <input type="text" id="userName" name="userName"  placeholder="이름">
                    </td>
                </tr>
                <tr>
                    <th>
                    <label class="label-wrapper" for="userEmail">이메일</label>
                    </th>
                    <td>
                    <input type="email" id="userEmail" name="userEmail"  placeholder="이메일">
                    </td>
                </tr>
                <tr>
                    <th>
                    <label class="label-wrapper" for="userTel">휴대폰</label>
                    </th>
                    <td>
                    <input type="text" id="userTel" name="userTel" placeholder="휴대폰">
                    </td>
                </tr>
                <tr>
                    <th>
                    <label class="label-wrapper" for="userAddr">주소</label>
                    </th>
                    <td>
                    <input type="text" id="userAddr" name="userTel" placeholder="주소">
                    </td>
                </tr>
                <tr>
                    <th>
                    </th>
                    <td>
                        <button type="button" id="addressSearch" class="search">
                            <span id="addressNo" class="address_no">주소검색</span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th>
                    <label class="label-wrapper" for="userGender">성별</label>
                    </th>
                    <td id="userGender" class="userGender">
                        <div>
                            <label for="gender-man" class="radio_box">
                                <input type="radio" id="gender-man" name="userGender" value="MALE">
                                <span class="on"></span>
                                남자
                            </label>
                            <label for="gender-woman" class="radio_box">
                                <input type="radio" id="gender-woman" name="userGender" value="WOMAN">
                                <span class="on"></span>
                                여자
                            </label>
                            <label for="gender-none" class="radio_box">
                                <input type="radio" id="gender-none" name="userGender" value="NONE" checked>
                                <span class="on"></span>
                                선택안함
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label class="label-wrapper" for="userBirth">생년월일</label>
                    </th>
                    <td>
                        <input id="userBirth" type="text">
                    </td>
                </tr>
                <tr>
                    <th>
                    </th>
                    <td>
                        <input type="date" min="1950-01-01" max="2024-01-01">
                    </td>
                </tr>
                </tbody>
                </table>
                    <br>
                <div style="border-top: 1px solid #333;">
                    <br>
                </div>
                    <div class="form_footer modify_button_position">
                        <button class="modify_button" type="button" id="modifyBtn">회원정보 수정</button>
                        <button class="modify_button" type="button" id="resignBtn">회원탈퇴</button>
                    </div>
            </form>
        </table>
        </div>
    </div>
    </div>
    <th:block layout:fragment="script">
        <script th:src="@{/js/user/modify.js}"></script>
    </th:block>
</body>
</html>