<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<footer th:fragment="footer" id="footer">
    <div class="row row1">
        <div class="container">
            <div class="row1-1">
                <div class="left">
                    <ul>
                        <li><h1>고객행복센터</h1></li>
                        <li><h2><a href="tel:1644-1107">1644-1107</a><span>월~토요일 오전 7시 - 오후 6시</span></h2></li>
                        <li>
                            <ul>
                                <li>
                                    <a href="#" title="카카오톡 문의">카카오톡 문의</a>
                                    <div>
                                        <p>월~토요일 | 오전 7시 오후 6시</p>
                                        <p>요/굥휴일 | 오전 7시 오후 6시</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" title="1:1 문의">1:1 문의</a>
                                    <div>
                                        <p>365일</p>
                                        <p>고객센터 운영시간에 순차적으로 답변드리겠습니다.</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" title="대량주문 문의">대량주문 문의</a>
                                    <div>
                                        <p>월~금요일</p>
                                        <p>오전 9시 - 오후 6시</p>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            비회원문의: <a href="mailto:help@kurlycorp.com">help@kurlycorp.com</a><br>
                            비회원 대량주문 문의: <a href="mailto:kurlygift@kurlycorp.com">kurlygift@kurlycorp.com</a>
                        </li>
                    </ul>
                </div>
                <div class="right">
                    <ul>
                        <li>
                            <a href="#">컬리소개</a>
                            <a href="#">컬리소개영상</a>
                            <a href="#">인재채용</a>
                            <a href="#">이용약관</a>
                            <a href="#">개인정보처리방침</a>
                            <a href="#">이용안내</a>
                        </li>
                        <li>
                            <address>
                                법인명 (상호) : 주식회사 컬리 <i>|</i> 사업자등록번호 : 261-81-23567 <a href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=2618123567&apv_perm_no=">사업자정보 확인</a><br>
                                통신판매업 : 제 2018-서울강남-01646 호 <i>|</i> 개인정보보호책임자 : 이원준<br>
                                주소 : 서울특별시 강남구 테헤란로 133, 18층(역삼동) <i>|</i> 대표이사 : 김슬아<br>
                                입점문의 : <a href="mailto:moonseonjong@naver.com">입점문의하기</a> <i>|</i> 제휴문의 : <a href="mailto:business@kurlycorp.com">business@kurlycorp.com</a><br>
                                채용문의 : <a href="recruit@kurlycorp.com">recruit@kurlycorp.com</a><br>
                                팩스: 070 - 7500 - 6098
                            </address>
                        </li>
                        <li>
                            <a href="#" title="instagram."><img src="/img/ico_instagram.png" alt=""></a>
                            <a href="#" title="facebook"><img src="/img/ico_fb.png" alt=""></a>
                            <a href="#" title="naverpost"><img src="/img/ico_naverpost.png" alt=""></a>
                            <a href="#" title="blog"><img src="/img/ico_blog.png" alt=""></a>
                            <a href="#" title="youtube"><img src="/img/ico_youtube.png" alt=""></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row1-2">
                <a href="#" title="isms">
                    <img src="/img/logo_isms.svg" alt="">
                    <span>
                     [인증범위] 컬리 쇼핑몰 서비스 개발·운영<br>
                     (심사받지 않은 물리적 인프라 제외)<br>
                     [유효기간] 2022.01.19 ~ 2025.01.18
                  </span>
                </a>
                <a href="#"  title="privacy">
                    <img src="/img/logo_privacy.svg" alt="">
                    <span>
                     [인증범위] 컬리 쇼핑몰 서비스 개발·운영<br>
                     (심사받지 않은 물리적 인프라 제외)<br>
                     [유효기간] 2022.01.19 ~ 2025.01.18
                  </span>
                </a>
                <a href="#" title="tosspayments">
                    <img src="/img/logo_tosspayments.svg" alt="">
                    <span>
                     [인증범위] 컬리 쇼핑몰 서비스 개발·운영<br>
                     (심사받지 않은 물리적 인프라 제외)<br>
                     [유효기간] 2022.01.19 ~ 2025.01.18
                  </span>
                </a>
                <a href="#" title="wooriBank">
                    <img src="/img/logo_wooriBank.svg" alt="">
                    <span>
                     [인증범위] 컬리 쇼핑몰 서비스 개발·운영<br>
                     (심사받지 않은 물리적 인프라 제외)<br>
                     [유효기간] 2022.01.19 ~ 2025.01.18
                  </span>
                </a>
            </div>
        </div>
    </div>
    <div class="row row2">
        <div class="container">
            <div>
                컬리에서 판매되는 상품 중에는 컬리에 입점한 개별 판매자가 판매하는 마켓플레이스(오픈마켓) 상품이 포함되어 있습니다.<br>
                마켓플레이스(오픈마켓) 상품의 경우 컬리는 통신판매중개자로서 통신판매의 당사자가 아닙니다. 컬리는 해당 상품의 주문, 품질, 교환/환불 등 의무와 책임을 부담하지 않습니다.
            </div>
            <p>
                © KURLY CORP. ALL RIGHTS RESERVED
            </p>
        </div>
    </div>
</footer>
</body>
</html>