<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<footer th:fragment="footer" id="footer">
    <div class="row row1">
        <div class="container">
            <div class="row1-1">
                <div class="left">
                    <ul>
                        <li><h1>고갱행복센터</h1></li>
                        <li><h2><a href="tel:1588-9090">1588-9090</a><span>24시간 환영</span></h2></li>
                        <li>
                            <ul>
                                <li>
                                    <a href="#" title="카카오톡 문의">카카오톡 문의</a>
                                    <div>
                                        <p>월~토요일 | 오전 9시 30분 오후 6시</p>
                                        <p>일,공휴일 | 장사 안해요</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" title="1:1 문의">D.M 문의</a>
                                    <div>
                                        <p>365일 까진 아님</p>
                                        <p>문의사항의 예의 갖추어 D.M 으로 부탁드려요</p>
                                    </div>
                                </li>
                                <li>
                                    <!-- <a href="#" title="대량주문 문의">대량주문 문의</a>
                                    <div>
                                        <p>월~금요일</p>
                                        <p>오전 9시 - 오후 6시</p>
                                    </div> -->
                                </li>
                            </ul>
                        </li>
                        <!-- 비회원 문의, 02.05 비활성화 -->
                        <!-- <li>
                            비회원문의: <a href="mailto:help@kurlycorp.com">help@kurlycorp.com</a><br>
                            비회원 대량주문 문의: <a href="mailto:kurlygift@kurlycorp.com">kurlygift@kurlycorp.com</a>
                        </li> -->
                    </ul>
                </div>
                <div class="right">
                    <ul>
                        <li>
                            <a href="#">컬리소개</a>
                            <a href="#">컬리소개영상</a>
                            <a href="#">인재채용</a>
                            <a href="#">이용약관</a>
                            <a href="#">개인정보처리방침</a>
                            <a href="#">이용안내</a>
                        </li>
                        <li>
                            <address>
                                법인명 (상호) : 클론코딩 비트컬리 <i>|</i> 상품 문의 : 박진경 <br>
                                로그인 문의 : 안현종 <i>|</i> 키맨 : 이무호 <i>|</i> 회원가입 문의 : 김시원 <br>
                                고객센터 / 대표이사 : 신지우 <i>|</i> 장바구니문의 : 김태현 <br>
                                주소 : 서울특별시 강남구 역삼동 819-3 <i>|</i> 제휴문의 : <a href="https://www.bitcamp.co.kr/">business@bitKurly.com</a><br>
                                팩스: 010-1234-5678
                            </address>
                        </li>
                        <li>
                            <a href="#" title="instagram."><img src="/img/ico_instagram.png" alt=""></a>
                            <a href="#" title="facebook"><img src="/img/ico_fb.png" alt=""></a>
                            <a href="#" title="naverpost"><img src="/img/ico_naverpost.png" alt=""></a>
                            <a href="#" title="blog"><img src="/img/ico_blog.png" alt=""></a>
                            <a href="#" title="youtube"><img src="/img/ico_youtube.png" alt=""></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row1-2">
                <a href="#" title="springboot">
                    <img src="/img/spring_boot.png" alt="">
                    <span>
                     [인증범위] 컬리 쇼핑몰 서비스 개발·운영<br>
                     (심사받지 않은 물리적 인프라 제외)<br>
                     [유효기간] 2022.01.19 ~ 2025.01.18
                  </span>
                </a>
                <a href="#"  title="thymeleaf">
                    <img src="/img/thymeleaf-logo.png" alt="">
                    <span>
                     [인증범위] 컬리 쇼핑몰 서비스 개발·운영<br>
                     (심사받지 않은 물리적 인프라 제외)<br>
                     [유효기간] 2022.01.19 ~ 2025.01.18
                  </span>
                </a>
                <a href="#" title="mysql">
                    <img src="/img/mysql-logo.svg" alt="">
                    <span>
                     [인증범위] 컬리 쇼핑몰 서비스 개발·운영<br>
                     (심사받지 않은 물리적 인프라 제외)<br>
                     [유효기간] 2022.01.19 ~ 2025.01.18
                  </span>
                </a>
                <a href="#" title="java">
                    <img src="/img/java-logo.png" alt="">
                    <span>
                     [인증범위] 컬리 쇼핑몰 서비스 개발·운영<br>
                     (심사받지 않은 물리적 인프라 제외)<br>
                     [유효기간] 2022.01.19 ~ 2025.01.18
                  </span>
                </a>
            </div>
        </div>
    </div>
    <div class="row row2">
        <div class="container">
            <div>
                아무말이나 쓰고있어요 설마 여기까지 읽어보는 사람은 없겠지 그래도 나름 공들여서 쓰고있답니다 잘 부탁드려요<br>
                다들 부디 열심히 끝까지 함께했으면 좋겠어요 항상 열심히 하다보면 언젠가는 빛나는 날이 올거라고 믿는답니다 3조 화이팅 고생하셨습니다
            </div>
            <p>
                © NC4TH BIT KURLY. ALL RIGHTS RESERVED
            </p>
        </div>
    </div>
</footer>
</body>
</html>