<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<header th:fragment="header" id="header">
    <div class="row1">
        <div class="container">
            <ul>
                <li><a href="#">회원가입</a></li>
                <li><i>|</i></li>
                <li><a href="#">로그인</a></li>
                <li><i>|</i></li>
                <li class="service-box">
                    <a href="#" class="service-center-btn">고객센터<img src="/img/ico_down_16x10.png" alt=""></a>
                    <div class="top-tooltip">
                        <ul>
                            <li><a href="#">공지사항</a></li>
                            <li><a href="#">자주하는 질문</a></li>
                            <li><a href="#">1:1문의</a></li>
                            <li><a href="#">대량주문 문의</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row2">
        <div class="container">
            <div class="left">
                <ul>
                    <li> <!-- 홈 -->
                        <h1>
                            <a href="/" title="마켓컬리">
                                <img src="/img/logo_kurly.svg" alt="">
                                <span>마켓컬리</span>
                            </a>
                        </h1>
                    </li>
                    <li> <!-- | -->
                        <i>|</i>
                    </li>
                    <li> <!-- 뷰티컬리 -->
                        <span>
                        <a href="#" title="뷰티컬리">뷰티컬리 <img src="/img/n_red.svg" alt=""></a>
                     </span>
                    </li>
                </ul>
            </div>
            <div class="center">
                <form name="search_form" id="searchForm" method="post" action="./search.php">
                    <div class="search-box">
                        <input type="text" name="search" id="search" placeholder="검색어를 입력해주세요">
                        <a href="#" class="search-btn" title="search"><img src="/img/search.svg" alt=""></a>
                    </div>
                </form>
            </div>
            <div class="right">
                <div class="map-tooltip-box">
                    <a href="#" title="배송지" class="map-tootip-btn"><img src="/img/map.svg" alt=""></a>
                    <div class="map-tooltip-memnu">
                        <ul>
                            <li>
                                <em>배송지를 등록</em>
                                <span>구매 가능한 상품을 확인하세요!</span>
                            </li>
                            <li>
                                <button class="login-btn">로그인</button>
                                <button class="address-search-btn"><img src="/img/search_white.png" alt=""><span>주소검색</span></button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <a href="#" title="찜하기"><img src="/img/heart.svg" alt=""></a>
                </div>
                <div>
                    <a href="/cart/mycart" title="장바구니"><img src="/img/cart.svg" alt="장바구니 모양"></a>
                </div>
            </div>
        </div>
    </div>
    <!-- 스크롤탑값이 100픽셀 이상이면 헤더영역 row3을 고정한다. -->
    <div class="row3">
        <div class="container">
            <div class="left">
                <a href="#" title="카테고리">
                    <img src="/img/app_bar.svg" alt="">
                    <strong>카테고리</strong>
                </a>
            </div>
            <div class="center">
                <ul>
                    <li><a href="./sub_page/sub1/" class="main-btn on" title="신상품">신상품</a></li>
                    <li><a href="./sub_page/sub2/" class="main-btn" title="베스트">베스트</a></li>
                    <li><a href="./sub_page/sub3/" class="main-btn" title="알뜰쇼핑">알뜰쇼핑</a></li>
                    <li><a href="./sub_page/sub4/" class="main-btn" title="특가혜택">특가혜택</a></li>
                </ul>
            </div>
            <div class="right">
               <span>
                  <a href="#">
                     <em>샛별<i>·</i>낮</em><strong>배송안내</strong>
                  </a>
               </span>
            </div>
        </div>
    </div>
</header>
</body>
</html>