<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shopping-cart</title>
    <link rel="stylesheet" href="../main/css/reset.css">
    <link rel="stylesheet" href="../main/css/common.css">
    <link rel="stylesheet" href="css/cart.css">
    <link rel="stylesheet" href="css/list.bundle.css">
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="js/cart.js"></script>
</head>
<body onresize="parent.resizeTo(514,584)" onload="parent.resizeTo(514,584)">
    <div class="section_destination">
        <div id="inputForm" class>
            <div class="modify only_pc">
                <input type="hidden" name="addrNo" value="">
                <input type="hidden" name="road_zonecode" value="15119">
                <input type="hidden" name="zipcode" value="15119">
                <p class="tit_result">배송지를 선택해주세요.<br>              
                    <span class="desc">매일 아침, 고객님의 제품을 문 앞까지 안전하게 보내드릴게요.</span>
                </p>
                <div class="field">
                    <div class="address_search">
                        <input onclick="sel_addr()" id="addrMain" class="address" type="text" placeholder="주소를 검색해주세요.">
                        <!-- text창을 누르면 검색버튼이 눌리도록 함.-->
                        <button type="button" id="juso" class="btn">
                            <span class="ico"></span>검색<!-- 검색kakao api -->
                        </button>
                    </div>
                    <input type="text" id="addrSub" name="addrSub" placeholder="나머지 주소를 입력해주세요" data-max-length="75" data-format="text" value="">
                </div>
                <label class="label_default"><br>
                    <input type="checkbox" id="isDefault" name="isDefault">
                    <span class="ico"></span>기본 배송지로 저장</label>
                    <!-- db에 반영해야할 요소로 보임.(기본배송지)-->
                    <button type="button" class="btn active">저장</button>
                    <!-- 저장시 db에 반영됨. 기본배송지 체크 시 반영해야함.-->
                    
            </div>
        </div>
    </div>
    <script>
        function sel_addr(){
            document.getElementById('juso').click();
        }
    
    </script>
    </body>
</html>


