<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_cart}"
>
<head>
    <th:block layout:fragment="script">
        <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </th:block>
</head>
<body onresize="parent.resizeTo(510,450)" onload="parent.resizeTo(510,450)">
    <div class="section_destination" layout:fragment="cart_content">

        <div id="inputForm" class>
            <div class="modify only_pc" style="width: 1050px;">
                <input type="hidden" name="addrNo" value="">
                <input type="hidden" name="road_zonecode" value="15119">
                <input type="hidden" name="zipcode" value="15119">
                <p class="tit_result">배송지를 선택해주세요.<br>              
                    <span class="desc">매일 아침, 고객님의 제품을 문 앞까지 안전하게 보내드릴게요.</span>
                </p>
                <div class="field">
                    <div class="address_search">
                        <!-- value값에 입력한 주소가 담김 -->
                        <input onclick="sel_addr()" id="addrMain" class="address" type="text" placeholder="주소를 검색해주세요." value="" readonly>
                        <!-- 주소 검색 버튼 -->
                        <button type="button" id="juso" class="btn">
                            <span class="ico"></span>검색<!-- 검색kakao api -->
                        </button>
                    </div>
                    <input type="text" id="addrSub" name="addrSub" placeholder="나머지 주소를 입력해주세요" data-max-length="75" data-format="text" value="">
                </div>
                <input type="hidden" id="isDefault_value" value="N">
                <label class="label_default"><br>
                    <input type="checkbox" id="isDefault" name="isDefault">
                    <span class="ico"></span>기본 배송지로 저장</label>
                    <button id="button" type="button" class="btn active">저장</button>
                    <!-- 저장시 db에 반영됨. 기본배송지 체크 시 반영해야함.-->
                    
            </div>
        </div>
        <script th:inline="javascript">
            // 기본 배송지로 저장 체크 시 isDefault에 'Y'를 담음
            $(document).ready(function(){
                $("#isDefault").click(function(){
                    if($("#isDefault").is(":checked")){
                        $("#isDefault_value").val('Y');
                    }else{
                        $("#isDefault_value").val('N');
                    }
                });
            });

            console.log($("#isDefault_value").val());

            // 저장 버튼 클릭 시 위에 담긴 정보를 db에 반영하고 현재 창을 특정 페이지로 리다이렉트
            $(document).ready(function(){
                $('#button').click(function(){

                    var addrMain = $("#addrMain").val();
                    var addrSub = $("#addrSub").val();
                    var isDefault = $("#isDefault_value").val();
                    var addr = addrMain + addrSub;
                    var data = {
                        addrBasic: addrMain,
                        addrDetail: addrSub,
                        addrStandard: isDefault
                    };

                    console.log(data);

                    $.ajax({
                        type: "POST",
                        url: "/cart/addr-add",
                        data: JSON.stringify(data),
                        contentType: "application/json; charset=utf-8",
                        success: function(response){
                            alert("배송지가 추가되었습니다.");
                            window.opener.location.reload();
                            window.close();
                        },
                        error: function(response){
                            alert("배송지 추가에 실패하였습니다.");

                        }
                    });
                });
            });

        </script>
    </div>
    
    </body>
</html>


