<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/cart.css}">
        <link rel="stylesheet" th:href="@{/css/list.bundle.css}">
    </th:block>
</head>
<body onresize="parent.resizeTo(514,584)" onload="parent.resizeTo(514,584)">
    <!-- 창크기 고정.-->
    <div class="only_pc fixed_head">
        <h2 class="pop_head">
        배송지
        <span class="sub">배송지에 따라 상품 정보가 달라질 수 있습니다.</span>
        </h2>

        <div class="pop_list">
        <span class="select">선택</span>
        <span class="delivery">배송 정보</span>
        <span class="modify">수정</span>
    </div>

    <div class="section_destination">
        <div class="only_pc">
            <ul id="addrList" class="list type_select">
                <li>
                    <label class="skin_checkbox">
                        <input type="radio" name="addrNo" data-delivery-type="direct" value="7260215" checked="">
                        <span class="ico"></span>
                        <span class="screen_out">선택하기</span><!--여러개있을경우가능 향후수정필요-->
                    </label>
                    <div class="address">
                        <span class="badge_default">기본 배송지</span>
                        <p class="addr"><!-- address value here -->인천광역시 연수구 송도동</p></div>
                        <div class="user"><span class="delivery star">샛별배송</span></div>
                        <div class="btn_modify">
                            <button type="button" class="ico modify" data-addr-no="7260215"
                            data-addr-type="D" data-is-current-addr="true">수정하기</button></div>
                </li>   <!-- 수정하기 페이지 넘어가야함 기본 주소 db와 함께 .-->
            </ul>


    </li>
        <a id="newAddressAddBtn" class="new_address" href="add_mydestination.html">
        <img src="https://res.kurly.com/pc/ico/2006/ico_add_16x16.svg" alt="" class="ico">
        새 배송지 추가
        </a>
        </div>
    </div>
    </div>
</body>
</html>








