<!-- 메인 홈페이지 -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      >
<head>

</head>
<body>
<div layout:fragment="content">
    <div id="topModal">
        <div class="container">
            <h2><a href="#" title="지금 가입하고 인기상품 100원에 받아가세요!">지금 가입하고 인기상품 <strong>100원</strong>에 받아가세요!</a></h2>
            <a href="#" title="오늘 하루 안보기" class="top-modal-close"><img src="/img/ico_close_fff_84x84.png" alt=""></a>
        </div>
    </div>
    <!-- 팝업창 -->
    <!--        <div id="introModal">-->
    <!--            <div class="container">-->
    <!--                <div class="wrap">-->
    <!--                    <div class="img-box">-->
    <!--                        <img src="/img/intro_modal_image.jpg" alt="">-->
    <!--                    </div>-->
    <!--                    <div class="btn-box">-->
    <!--                        <button class="close-open-none-btn">다시 안 보기</button>-->
    <!--                        <button class="close-btn">닫기</button>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->


    <!-- 퀵메뉴 -->
    <div id="quickMenu">
        <ul>
            <li><a href="#"><img src="/img/deliveryInfo.webp" alt=""></a></li>
            <li><a href="#">등급별혜택</a></li>
            <li><a href="#">레시피</a></li>
        </ul>
    </div>

    <!-- 고탑버튼 -->
    <div id="goTop">
        <a href="#"><img src="/img/gotop.png" alt=""></a>
    </div>


</div>
<script src="/js/intro.js"></script>
</body>
</html>