<!-- 메인 홈페이지 -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      >
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/search/search.css}">
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <main id="main">
        <section id="section1">
            <div class="slide-container">
                <div class="slide-view">
                    <ul class="slide-wrap promotions" id="promotions">
                        <li class="slide slide01"><a href="#"><img src="/img/main_slide01.jpg" alt=""></a></li>
                        <li class="slide slide02"><a href="#"><img src="/img/main_slide02.jpg" alt=""></a></li>
                        <li class="slide slide03"><a href="#"><img src="/img/main_slide03.jpg" alt=""></a></li>
                        <li class="slide slide04"><a href="#"><img src="/img/main_slide04.jpg" alt=""></a></li>
                        <li class="slide slide05"><a href="#"><img src="/img/main_slide05.jpg" alt=""></a></li>
                        <li class="slide slide06"><a href="#"><img src="/img/main_slide06.jpg" alt=""></a></li>
                        <li class="slide slide07"><a href="#"><img src="/img/main_slide07.jpg" alt=""></a></li>
                        <li class="slide slide08"><a href="#"><img src="/img/main_slide08.jpg" alt=""></a></li>
                        <li class="slide slide09"><a href="#"><img src="/img/main_slide09.jpg" alt=""></a></li>
                        <li class="slide slide10"><a href="#"><img src="/img/main_slide10.jpg" alt=""></a></li>
                        <li class="slide slide11"><a href="#"><img src="/img/main_slide11.jpg" alt=""></a></li>
                        <li class="slide slide12"><a href="#"><img src="/img/main_slide12.jpg" alt=""></a></li>
                        <li class="slide slide13"><a href="#"><img src="/img/main_slide13.jpg" alt=""></a></li>
                        <li class="slide slide14"><a href="#"><img src="/img/main_slide14.jpg" alt=""></a></li>
                        <li class="slide slide15"><a href="#"><img src="/img/main_slide15.jpg" alt=""></a></li>
                        <li class="slide slide16"><a href="#"><img src="/img/main_slide16.jpg" alt=""></a></li>
                        <li class="slide slide17"><a href="#"><img src="/img/main_slide17.jpg" alt=""></a></li>
                        <li class="slide slide18"><a href="#"><img src="/img/main_slide18.jpg" alt=""></a></li>
                        <li class="slide slide19"><a href="#"><img src="/img/main_slide19.jpg" alt=""></a></li>
                        <li class="slide slide20"><a href="#"><img src="/img/main_slide20.jpg" alt=""></a></li>
                        <li class="slide slide01"><a href="#"><img src="/img/main_slide01.jpg" alt=""></a></li>
                    </ul>
                </div>

                <!-- 좌우 화살버튼 abs -->
                <span class="arrow arrow-left-box"><a href="#" class="arrow-left-btn" title="slide preview"><i></i></a></span>
                <span class="arrow arrow-right-box"><a href="#" class="arrow-right-btn" title="slide next"><i></i></a></span>

                <!-- 페이지네이션 현재페이지/전체페이지 -->
                <span class="page-box">
                   <em class="current-page">1</em> <i>/</i> <em class="total-page">20</em>
                </span>
            </div>
        </section>


        <div class="search-main">
            <section id="section2" class="section-slide-public">
                <div class="title">
                    <h2 th:if="${search}==null">이 상품 어때요?</h2>
                    <h2 th:if="!${search}==null" th:text="|${search}에 대한 검색결과|">검색결과</h2>
                </div>
                <div class="search-total">
                <div th:text="|총 ${itemList.getTotalElements()}건, 비트컬리에 등록된 상품의 수 |">건 </div>
                </div>
            </section>
            <div class="search-list">
                <div class="item-box" th:each="item : ${itemList}" >
                    <div>
                    <div class="img-box" >
                        <a th:href="@{/item/item-detail?(itemId=${item.getItemId()})}">
<!--                            <img class="bg" th:if="${item.getItemFileList().get(0).itemFileName != null}" th:src="@{'/upload/' + ${item.getItemFileList().get(0).itemFileName}}" alt="상품 대표 이미지">-->
                            <img class="bg" th:if="${item.getItemFileList().get(0).itemFileName != null}" th:src="@{'https://kr.object.ncloudstorage.com/bit-nc4th-miniproject/item/' + ${item.getItemFileList().get(0).itemFileName}}" alt="상품 대표 이미지">
                            <img class="bg" th:if="${item.getItemFileList().get(0).itemFileName == null}" src="/img/1657616036799l0.jpg" alt="상품 대표 이미지">
                        </a>
                    </div>
                    <div class="caption-box">
                        <p class="letter-delivery">판매자 배송</p>
                        <h2 class="letter-item-title" th:text="${item.getItemName()}">상품제목 </h2>
                        <h2 class="letter-item-desc" th:text="${item.getItemDescription()}">상세설명 </h2>
                        <h3 class="letter-item-price" th:text="|${#numbers.formatInteger(item.getItemPrice(), 3, 'COMMA') + '원'}|"><em>원</em></h3>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>
</div>
</div>
<th:block layout:fragment="script">
    <script th:src="@{/js/main/visual.js}"></script>
    <script th:src="@{/js/main/contents.js}"></script>
</th:block>
</body>
</html>