.item-main {
    display: flex;
    flex-direction: column;
    width: 1068px;
    margin: 0px auto;
}

.item-total {
    font-size: 14px;
    font-weight: 500;
    color: rgb(51, 51, 51);
}

.item-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 249px);
    gap: 31px 18px;
    width: 100%;
}

.item-box {
    isplay: flex;
    flex-direction: column;
    height: 480px;
    color: rgb(51, 51, 51);
    cursor: pointer;
}

.img-box {
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    /*display: block;*/
    width: 249px;
    height: 320px;
    object-fit: cover;
}

.img-size {
    width: 249px;
    height: 320px;
}

.caption-box {
    padding: 8px 10px 0px 0px;
    display: block;
    flex-direction: column;
}

.letter-delivery{
    padding-top: 8px;
    display: block;
    padding-bottom: 2px;
}

.letter-item-title{
    max-height: 58px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: normal;
    display: -webkit-box;
    overflow: hidden;
    word-break: break-all;
    white-space: normal;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.letter-item-desc{
    padding-top: 4px;
    font-size: 12px;
    color: rgb(153, 153, 153);
    line-height: 18px;
    letter-spacing: normal;
    display: -webkit-box;
    overflow: hidden;
    word-break: break-all;
    white-space: normal;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.letter-item-price{
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
    padding-top: 8px;
}

#content {
    width: 1050px;
    margin: 0 auto;
    height: auto;
}