.cManual {
    margin-left: 10px;
    border: 1px solid black;

    vertical-align: 3px;
    padding: 0 6px;
    border-radius: 8px;
    border: 1px solid;
}

.section_orderlist .list_order {
    padding-top: 10px;
    border-top: 2px solid #333;
    display: flex;
}

.p_board tbody th {
    border: 1px solid #dedede;
    text-align: left;
    word-break: keep-all;
    padding: 10px 15px 10px 15px;
    vertical-align: top;
    color: #2e3039;
    background-color: #f7f7f7;
    width: 177px;
    font-size: 15px;
}


.p_board tbody td {
    border: 1px solid #dedede;
    padding: 10px 15px;
    line-height: 24px;
    vertical-align: top;
}

.size {
    padding-bottom: 50px;
    background: #fff;
    position: relative;
}

tbody th {
    width: 100px;
}

tbody input, textarea {
    border: 1px solid #d4d4d4;
}

.form_style {
    padding: 30px 30px 0 30px;
    box-sizing: border-box;

}

.i_text {
    height: 44px;
    line-height: 14px;
    font-size: 14px;
}

.text1 {
    width: 400px;


}

input:focus, textarea:focus {
    outline: 1px solid #5f0080;
}


.text2 {
    width: 500px
}

.text3, .text4, .text5 {
    width: 75px;
}

.num1 {
    width: 45px;
    text-align: center;
}

#delivery_type {
    height: 34px;
    font-size: 16px;
    border: 1px solid #d4d4d4;
}

select:focus {
    outline: 1px solid #5f0080;
}

.text6 {
    width: 150px;
}

#packing_type {
    height: 34px;
    font-size: 16px;
    border: 1px solid #d4d4d4;
}

table td .product_category {
    height: 34px;
    font-size: 16px;
    border: 1px solid #d4d4d4;
}

.text7 {
    width: 150px;
}

table .text8 {
    height: 240px;
    width: 500px;
    resize: none;
}

#image_main_input, #image_detail_input, #image_thumbnail_input {
    width: 100%;
    height: 100%;
    cursor: pointer;

}

.image_main_box, .image_detail_box, .image_thumbnail_box {
    width: 268px;
    height: 268px;
    position: relative;
}

.image_add {
    width: 100%;
    height: 100%;
    border: 1px solid #d4d4d4;
    position: relative;

}

.image_add .image_main_input_button::before, .image_detail_input_button::before, .image_thumbnail_input_button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1px 0 0 -8px;
    width: 16px;
    height: 2px;
    background-color: #565656;
    background-image: none;

}

.image_add .image_main_input_button::after, .image_detail_input_button::after, .image_thumbnail_input_button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 16px;
    margin: -8px 0 0 -1px;
    background-color: #565656;
    background-image: none;
}

.image_add input { /* 파일 업로드 찾아보기 버튼 숨기기 */
    opacity: 0;
    position: absolute;
}

#image_container {
    overflow: hidden;
}

#image_container img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}


.image_save {
    margin-left: 10px;
    display: block;
    float: left;
    text-align: center;
}

.image_save ul {
    display: flex;
}

.image_save ul li {
    width: 120px;
    height: 120px;
    position: relative;
    border: 1px solid #d4d4d4;
    margin-left: 35px;
}

.re_upload {
    border: 1px solid #d4d4d4;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 40px;
    width: 134.5px;

}

.remove {
    border: 1px solid #d4d4d4;
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 40px;
    width: 134.5px;
    cursor: pointer;
}


.sub_image .sub_image_input_button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1px 0 0 -8px;
    width: 16px;
    height: 2px;
    background-color: #565656;
    background-image: none;

}

.sub_image .sub_image_input_button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 16px;
    margin: -8px 0 0 -1px;
    background-color: #565656;
    background-image: none;
}


.sub_image input { /* 파일 업로드 찾아보기 버튼 숨기기 */
    opacity: 0;
    position: absolute;
    left: 0px;


}

#sub_image_input {
    width: 100%;
    height: 100%;
    cursor: pointer;

}

#sub_image_container img {
    position: absolute;
    top: -1px;
    left: 0px;
    width: 122px;
    height: 119px;
}

.img_upload {
    display: flex;
}

.sub_button {
    position: relative;
}


.sub_re_upload {
    border: 1px solid #d4d4d4;
    position: absolute;
    top: -1px;
    left: 35px;
    height: 31px;
    width: 61.5px;

}

.sub_remove {
    border: 1px solid #d4d4d4;
    position: absolute;
    top: -1px;
    right: 0px;
    height: 31px;
    width: 61.5px;
    cursor: pointer;
}


#item_update {
    border: 1px solid #d4d4d4;
    position: absolute;
    bottom: -20px;
    left: 25%;
    height: 44px;
    width: 134.5px;
}

#item_delete {
    border: 1px solid #d4d4d4;
    position: absolute;
    bottom: -20px;
    left: 50%;
    height: 44px;
    width: 134.5px;
}

.txtByte {
    vertical-align: bottom;
    color: #97989b;
}

span.txtByte {
    margin-left: 5px;
    margin-top: 8px;
}

.txtByte strong {
    color: #5f0080;
    vertical-align: bottom;
}

.p_board td .won {
    margin-left: 5px;
    font-size: 16px;
    margin-top: 5px;

}

.won_type {
    margin-left: 10px;
    font-size: 13px;
    margin-top: 5px;
    color: #c15858;
}

.input_ex {
    margin-left: 7px;
    margin-top: 4px;
    font-size: 14px;
}


.p_board table td .txtByte_big {
    margin-top: 55px;
    margin-left: 5px;
}

#item_update button, #item_delete button {
    width: 100%;
    height: 100%;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


